<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定你要实现的mapper接口全名 -->
<mapper namespace="com.term.dao.UserDao">
    <!--标签名是操作方式，id与接口中方法名一致 resultType指定返回值类型的全名-->
    <select id="getAllUsers" resultType="com.term.model.User">
        <!--标签内写sql语句-->
        select * from user
    </select>
    <update id="updateUser" parameterType="com.term.model.User">
        <!--用#{}传入参数，实体类的属性可以直接用属性名调用，方法参数可以直接用参数名-->
        update user set name=#{name},pwd=#{pwd} where id=#{id}
    </update>
    <insert id="addUser" parameterType="com.term.model.User">
        insert into user (id,name,pwd) values (#{id},#{name},#{pwd})
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{id}
    </delete>

    <select id="getOneUser" parameterType="map" resultType="com.term.model.User">
        select * from user where id=#{id}
    </select>
    <select id="getUsersByNameLike" parameterType="String" resultType="com.term.model.User">
        select * from user where name like #{name}
    </select>
</mapper>